@use '@carbon/styles/scss/spacing';
@use '@carbon/colors';

.preAppointment {
  margin: spacing.$spacing-05;
  padding: spacing.$spacing-05;
  border: 1px solid colors.$cool-gray-20;
}

.emptyStateContainer {
  margin: spacing.$spacing-05;
}
